# Environnements virtuels
venv/
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Fichiers de base de données
db.sqlite3

# Fichiers médias (uploads)
media/

# Fichiers statiques collectés
staticfiles/

# IDEs / éditeurs
.vscode/
.idea/

# Logs
*.log
