{% extends "Babalee/base.html" %}
{% block title %}Nos Evenements {% endblock %}

{% block content %}

<h2 class="commission-hero"> Nos Prochains Evenements </h2>
  <!-- Afficher les membres de chaque commission-->
<div class="container mt-4">
    <div class="row">
        {% for Ev in Ev_F %}
        <div class="col-lg-8 mb-3">
            <div class="card h-100">
                <!-- Image avec une classe pour forcer la taille -->
                <img src="{{ Ev.image.url }}" class="card-img-top membres-img img-fluid" alt="{{ membre.photo }}">
                <div class="card-body">
                  <br>
                    <h5 class="card-title">{{ Ev.nom }}</h5>
                     <p class="card-desc">{{ Ev.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}