{% extends "Babalee/base.html" %}
{% block title %}Evenement_Sociaux{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="commission-com text-center">
    <h1 class="titreapropos mb-3 mt-1 justify-content-center">Evenements Sociaux</h1>
  </div>

  <div class="row mt-4">
    <!-- CAROUSEL WRAPPER -->
<div class="col-lg-6">
  <!-- Wrapper avec bordure -->
  <div class="carousel-wrapper border-success border-2.5 rounded-4 position-relative">
    <div id="carouselExampleCaptions" class="carousel slide carousel-large">
      <!-- Indicators -->
      <div class="carousel-indicators">
        {% for slide in slides %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}"
                  class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
                  aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>

      <!-- Slides -->
      <div class="carousel-inner">
        {% for slide in slides %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ slide.image.url }}" class="d-block w-120 carousel-img" alt="{{ slide.titre }}">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ slide.titre }}</h5>
              <p>{{ slide.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

    <!-- Paragraphe -->
       
    <div class="col-lg-6 d-flex align-items-center">
    
      <p class="parag">
        « Ensemble, partageons, rions et grandissons ! »
          <br><br>
 Un moment fort de notre plan d’action où entraide, soutien et convivialité se sont rencontrés pour créer des souvenirs inoubliables. Entre activités collaboratives, jeux interactifs et moments de partage, chaque participant a pu renforcer les liens avec les autres membres, découvrir de nouvelles amitiés et profiter d’instants de détente mémorables. Les échanges chaleureux et la solidarité vécue lors de ces moments ont renforcé notre esprit de groupe et fait de cet événement un véritable vecteur de complicité et de joie collective. Un grand merci à tous pour votre énergie, votre bonne humeur et votre engagement, qui ont transformé ce moment en expérience humaine exceptionnelle. 

    </p>
    </div>
  </div>
</div>
{% endblock %}